<div class="col-lg-12 mt-2">
    <div class="container-fluid bg-dark text-light p-5">
        <div class="container bg-dark p-5">
            <h1 class="display-4">{{page_title}}</h1>
            <hr>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a [routerLink]="['/topics']" class="btn btn-outline-primary m-1">Show topics</a>
            <a [routerLink]="['/users']" class="btn btn-outline-success m-1">Show people</a>
            <a [routerLink]="['/panel']" class="btn btn-outline-info m-1">Add a new topic</a>
        </div>
    </div>
</div>