<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Code Forum!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/topics']">Show topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/panel/create']" *ngIf="token">Create topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['users']">Users</a>
        </li>
        <li class="mx-1">
          <form class="d-flex" #searchForm="ngForm">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="busqueda" #busqueda="ngModel" [(ngModel)]="search">
            <button class="btn btn-outline-success" type="submit" (click)=" goSearch()">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="token">
          <!--<img src="{{url +  'avatar/' + identity.image}}" class="avatar_nav">-->
          <img *ngIf="identity.image" src="{{url +  'avatar/' + identity.image}}" class="avatar_nav">
          <img *ngIf="!identity.image" src="./assets/img/default-user.png" class="avatar_nav">
        </li>
        <li class="nav-item dropdown" *ngIf="token">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.name +' '+identity.surname}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/panel']">User Panel</a></li>
            <li><a class="dropdown-item" [routerLink]="['/profile',identity._id]">My Profile</a></li>
            <li><a class="dropdown-item" [routerLink]="['/settings']">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><button type="button" class="btn btn-outline-danger" (click)="logout()" >Log out</button></a></li>
          </ul>
        </li>
        <!--Registred true-->
        <div *ngIf="token; else elseBlock">
          
        </div>
        <!--Not registred-->
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" >Log in</a>
          </li>
        </ng-template>      
         
      </ul>
    </div>
  </div>
</nav>
<!--Content-->
<div class="container my-4">
    <router-outlet></router-outlet>
</div>
<!--navbar-right mb-2 mb-lg-0"-->