<div class="col-lg-12">
    <h3>{{page_title}}</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topics">
            <td>{{topic.title}}</td>
            <td>{{topic.date | amDateFormat:'LL'}}</td>
            <td>
                <a [routerLink]="['/panel/edit/',topic._id]" class="btn btn-warning mx-2 px-4">Edit</a>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+topic._id">
                  Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'modal'+topic._id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Do you want to delete {{topic.title}} topic now?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger mx-2" (click)="deleteTopic(topic._id)" data-bs-dismiss="modal">Confirm</a>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>