<div class="col-lg-12" *ngIf="!user || !topics">
  <div class="mx-auto mt-3">
    <img src='./assets/img/loading.gif'>
  </div>
</div>
<div class="col-lg-12" *ngIf="user && topics">
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="">
              <div class="mx-auto mt-3">
                <img *ngIf="user.image" src="{{url +  'avatar/' + user.image}}" class="avatar_nav">
              <img *ngIf="!user.image" src="./assets/img/default-user.png" class="avatar_nav" >
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">{{user.name + ' '+ user.surname}}</h5>
                  <p class="card-text">{{user.email}}</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card" style="min-width= 50em;">
                <div class="card-header">
                   Topics:
                  </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let topic of topics"> <a [routerLink]="['/topic',topic._id]">{{topic.title}}</a> <span class="badge bg-primary mx-1">{{topic.lang}}</span>
                    <h6 class="card-subtitle mb-2 text-muted">{{topic.date | amTimeAgo}}</h6></li>
                </ul>
            </div>
        </div>
    </div>
</div>
